body {
  background-color: $off-white;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto", sans-serif;
  line-height: $line-height;
  margin-bottom: 1.25rem;
}

a {
  font-family: "Roboto", sans-serif;
}

h1 {
  @include for-phone-only {
    font-size: $h1-small;
  }

  @include for-tablet-portrait-up {
    font-size: $h1-small;
  }

  @include for-tablet-landscape-up {
    font-size: $h1-large;
  }
}

h2 {
  @include for-phone-only {
    font-size: $h2-small;
  }

  @include for-tablet-portrait-up {
    font-size: $h2-small;
  }

  @include for-tablet-landscape-up {
    font-size: $h2-large;
  }
}

h3 {
  @include for-phone-only {
    font-size: $h3-small;
  }

  @include for-tablet-portrait-up {
    font-size: $h3-small;
  }

  @include for-tablet-landscape-up {
    font-size: $h3-large;
  }
}

h4 {
  @include for-phone-only {
    font-size: $h4-small;
  }

  @include for-tablet-portrait-up {
    font-size: $h4-small;
  }

  @include for-tablet-landscape-up {
    font-size: $h4-large;
  }
}

p {
  font-size: $base;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  margin: auto;

  @include for-phone-only {
    width: 90%;
  }

  @include for-tablet-portrait-up {
    width: 85%;
  }

  @include for-tablet-landscape-up {
    width: pxToRem(800px);
  }

  @include for-desktop-up {
    width: pxToRem(1100px);
  }
}
