@mixin for-small-phone-only() {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin for-phone-up() {
  @media (min-width: 350px) {
    @content;
  }
}

@mixin for-phone-only() {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up() {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-lg-desktop-up() {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: pxToRem(3px) solid $black;
  border-radius: pxToRem(50px);
  background-color: $western-purple;
  color: $off-white;
  font-family: "Roboto", sans-serif;

  &:hover {
    background-color: lighten($western-purple, 10%);
    color: $off-white;
    cursor: pointer;
  }
}

@mixin btn-base(
  $border-color: $black,
  $background-color: $white,
  $font-color: $black
) {
  display: inline-block;
  border: pxToRem(2px) solid $border-color;
  border-radius: $border-radius;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background-color: $background-color;
  color: $font-color;
  font-weight: 700;
}

@mixin btn-sm {
  padding: 0.5rem;
}

@mixin btn-med {
  padding: 0.75rem;
}

@mixin btn-lg {
  padding: 1rem;
}

@mixin btn-primary {
  @include btn-base(
          $border-color: $western-purple,
          $background-color: $western-purple,
          $font-color: $white
  );

  &:hover {
    background-color: $white;
    color: $western-purple;
    border-color: $western-purple;
    transition: 0.3s;
  }
}

@mixin btn-secondary {
  @include btn-base(
          $border-color: $black,
          $background-color: $background-color,
          $font-color: $black
  );

  &:hover {
    background-color: $black;
    color: $white;
    border-color: $black;
    transition: 0.3s;
  }
}

@mixin btn-primary-sm {
  @include btn-primary;
  @include btn-sm;
}

@mixin btn-primary-lg {
  @include btn-primary;
  @include btn-lg;
}

@mixin btn-secondary-sm {
  @include btn-secondary;
  @include btn-sm;
}

@mixin btn-secondary-med {
  @include btn-secondary;
  @include btn-med;
}

@mixin btn-secondary-lg {
  @include btn-secondary;
  @include btn-lg;
}

@mixin text-input {
  border: pxToRem(1px) solid $dark-grey;
  background-color: $background-color;
  border-radius: $border-radius;
  padding: 0.75rem;
  font-size: $base;
}

@mixin submit-input-primary {
  width: 100%;
  padding: 0.75rem;
  border: pxToRem(2px) solid $western-purple;
  border-radius: $border-radius;
  background-color: $western-purple;
  color: $white;
  font-size: $base;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $background-color;
    color: $western-purple;
    border-color: $western-purple;
    transition: 0.3s;
  }
}

@mixin form-legend {
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  @include for-phone-only {
    font-size: $h3-small;
  }

  @include for-tablet-portrait-up {
    font-size: $h3-small;
  }

  @include for-tablet-landscape-up {
    font-size: $h3-large;
  }
}
