@mixin for-phone-only() {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up() {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-lg-desktop-up() {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: pxToRem(3px) solid $black;
  border-radius: pxToRem(50px);
  background-color: $western-purple;
  color: $off-white;

  &:hover {
    background-color: lighten($western-purple, 10%);
    color: $off-white;
  }
}
