$base: 16px;

$h1-large: 4rem;
$h2-large: 3rem;
$h3-large: 2rem;
$h4-large: 1.5rem;

$h1-small: 3rem;
$h2-small: 2rem;
$h3-small: 1.5rem;
$h4-small: 1.25rem;

$h1: 1rem;
$h2: 1rem;
$h3: 1rem;
$h4: 1rem;
$h5: 1rem;
$h6: 1rem;

$line-height: 140%;
$border-radius: 4px;

$black: #000000;
$white: #FFFFFF;
$western-purple: #4F2784;
$off-white: #FAFAFA;
$light-grey: #EDEDED;
$dark-grey: #495057;
$alert-error: #FFAFAF;
$alert-success: #BBE4C1;
$alert-message: #CBB5E9;

$background-color: #FFFFFF;
