@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto/regular/Roboto-Regular.woff2") format("woff2"), url("../../fonts/roboto/regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto/italic/Roboto-Italic.woff2") format("woff2"), url("../../fonts/roboto/italic/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto/bold/Roboto-Bold.woff2") format("woff2"), url("../../fonts/roboto/bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  background-color: #FAFAFA; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto", sans-serif;
  line-height: 140%;
  margin-bottom: 1.25rem; }

a {
  font-family: "Roboto", sans-serif; }

@media (max-width: 599px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 600px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 900px) {
  h1 {
    font-size: 4rem; } }

@media (max-width: 599px) {
  h2 {
    font-size: 2rem; } }

@media (min-width: 600px) {
  h2 {
    font-size: 2rem; } }

@media (min-width: 900px) {
  h2 {
    font-size: 3rem; } }

@media (max-width: 599px) {
  h3 {
    font-size: 1.5rem; } }

@media (min-width: 600px) {
  h3 {
    font-size: 1.5rem; } }

@media (min-width: 900px) {
  h3 {
    font-size: 2rem; } }

@media (max-width: 599px) {
  h4 {
    font-size: 1.25rem; } }

@media (min-width: 600px) {
  h4 {
    font-size: 1.25rem; } }

@media (min-width: 900px) {
  h4 {
    font-size: 1.5rem; } }

p {
  font-size: 16px; }

.container {
  margin: auto; }
  @media (max-width: 599px) {
    .container {
      width: 90%; } }
  @media (min-width: 600px) {
    .container {
      width: 85%; } }
  @media (min-width: 900px) {
    .container {
      width: 50rem; } }
  @media (min-width: 1200px) {
    .container {
      width: 68.75rem; } }

.header {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-logo-container {
  height: 3.125rem;
  border-radius: 50%; }
  .nav-logo-container:hover {
    height: 3.25rem; }
  @media (min-width: 900px) {
    .nav-logo-container {
      height: 3.75rem; }
      .nav-logo-container:hover {
        height: 3.9375rem; } }

.nav-logo {
  height: 100%; }

.nav-link {
  display: inline-block;
  border: 0.125rem solid #000000;
  border-radius: 0.375rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 700;
  padding: 0.5rem;
  margin-left: 1rem; }
  .nav-link:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    transition: 0.3s; }

.footer {
  border-top: 0.0625rem solid #E5E5E5; }

.footer-grid-container {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  justify-content: space-between; }
  @media (max-width: 599px) {
    .footer-grid-container {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      margin-bottom: 3rem; } }
  @media (min-width: 600px) {
    .footer-grid-container {
      grid-template-columns: 1fr 1fr; } }

@media (max-width: 599px) {
  .footer-usc-info {
    justify-self: center;
    text-align: center; } }

@media (min-width: 600px) {
  .footer-usc-info {
    justify-self: left; } }

.footer-social-icon-container {
  display: flex;
  align-items: center;
  justify-self: end; }
  @media (max-width: 599px) {
    .footer-social-icon-container {
      justify-self: center; } }
  @media (min-width: 600px) {
    .footer-social-icon-container {
      justify-self: end; } }

.footer-social-icon {
  margin-left: 1.25rem;
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%; }
  .footer-social-icon:hover {
    background: #E5E5E5;
    margin-bottom: 0.3125rem; }

.social-icon-img {
  width: 100%; }

.alert {
  margin: 2rem auto 0 auto;
  font-size: 1rem;
  text-align: center; }
  @media (max-width: 599px) {
    .alert {
      width: 95%; } }
  @media (min-width: 600px) {
    .alert {
      width: 85%; } }
  @media (min-width: 900px) {
    .alert {
      width: 50rem; } }
  @media (min-width: 1200px) {
    .alert {
      width: 68.75rem; } }
  @media (min-width: 1920px) {
    .alert {
      width: 107.5rem; } }

.alert-error {
  color: #E50000; }

.alert-message {
  color: #4F2784; }

.alert-success {
  color: #327F3E; }

.banner-container {
  display: flex;
  align-items: center; }
  @media (max-width: 350px) {
    .banner-container {
      height: 100vh; } }
  @media (min-width: 350px) {
    .banner-container {
      height: 80vh; } }

.index-main-content {
  display: grid; }
  @media (max-width: 599px) {
    .index-main-content {
      margin-bottom: 1rem;
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      justify-items: center; } }
  @media (min-width: 600px) {
    .index-main-content {
      margin-bottom: 1rem;
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      justify-items: center; } }
  @media (min-width: 900px) {
    .index-main-content {
      margin-bottom: 3rem;
      grid-template-columns: 1fr 1fr;
      align-items: center; } }

@media (max-width: 599px) {
  .index-usc-logo-container {
    width: 10rem; } }

@media (min-width: 600px) {
  .index-usc-logo-container {
    width: 13rem; } }

@media (min-width: 900px) {
  .index-usc-logo-container {
    width: 15rem; } }

@media (min-width: 1200px) {
  .index-usc-logo-container {
    width: 18rem; } }

.index-usc-logo-container .usc-logo {
  width: 100%; }

@media (max-width: 599px) {
  .index-content-container {
    text-align: center; } }

@media (min-width: 600px) {
  .index-content-container {
    text-align: center; } }

@media (min-width: 900px) {
  .index-content-container {
    text-align: left; } }

.index-header {
  text-transform: capitalize; }

.index-start-quiz-btn-container {
  text-align: center; }

.index-start-quiz-btn {
  display: inline-block;
  border: 0.125rem solid #4F2784;
  border-radius: 0.375rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background-color: #4F2784;
  color: #FFFFFF;
  font-weight: 700;
  padding: 1rem; }
  .index-start-quiz-btn:hover {
    background-color: #FFFFFF;
    color: #4F2784;
    border-color: #4F2784;
    transition: 0.3s; }

.index-down-arrow-container {
  text-align: center;
  min-height: 20vh; }

.down-arrow {
  height: 30px; }

.index-more-info-container {
  padding: 2rem 0;
  display: grid; }
  @media (max-width: 599px) {
    .index-more-info-container {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem; } }
  @media (min-width: 600px) {
    .index-more-info-container {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 900px) {
    .index-more-info-container {
      grid-template-columns: 1fr 1fr; } }

.more-info-item {
  padding: 2rem; }
  @media (max-width: 599px) {
    .more-info-item {
      border-radius: 0.625rem; }
      .more-info-item:nth-of-type(odd) {
        background-color: #E5E5E5; } }

.club-login-form-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center; }

.club-login-form-legend {
  margin: 3vh 0;
  font-size: 1rem; }

.club-login-form-input-container {
  margin: 2rem 0; }

.club-login-form-label {
  margin-bottom: 1rem;
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 1rem; }
  @media (min-width: 600px) {
    .club-login-form-label {
      margin-bottom: 0;
      display: inline-block;
      width: 8.75rem;
      text-align: left;
      font-size: 1rem; } }

.club-login-form-input {
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 0.75rem;
  width: 100%;
  font-size: 1rem; }
  @media (min-width: 600px) {
    .club-login-form-input {
      width: 25rem;
      font-size: 1rem; } }

.club-login-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }
  .club-login-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }

.quiz-form {
  font-family: "Roboto", sans-serif; }

.quiz-legend {
  display: none; }

.individual-question-container {
  border-bottom: 0.0625rem solid #E5E5E5; }
  @media (max-width: 599px) {
    .individual-question-container {
      padding: 3rem 0; } }
  @media (min-width: 600px) {
    .individual-question-container {
      padding: 4rem 0; } }

.question-number {
  text-align: center; }

.question-header {
  display: block;
  padding-bottom: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  text-align: center; }
  @media (max-width: 599px) {
    .question-header {
      font-size: 1.25rem; } }
  @media (min-width: 600px) {
    .question-header {
      font-size: 1.25rem; } }
  @media (min-width: 900px) {
    .question-header {
      font-size: 1.5rem; } }

.question {
  margin: auto;
  display: grid;
  justify-content: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; }
  @media (max-width: 599px) {
    .question {
      grid-template-columns: 1fr; } }
  @media (min-width: 600px) {
    .question {
      grid-template-columns: 1fr 1fr; } }
  .question > li {
    height: 12rem;
    display: flex; }
    .question > li > input {
      margin: 0;
      display: none; }
    .question > li > label {
      width: 100%;
      background-color: #FFFFFF;
      border: 1px solid #000000;
      border-radius: 0.625rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      text-align: center;
      cursor: pointer; }
      .question > li > label:hover {
        border: 2px solid #4F2784;
        color: #4F2784; }
    .question > li > input:checked + label {
      background-color: #4F2784;
      border-color: #4F2784;
      color: #FFFFFF;
      font-weight: 700;
      transition: 0.1s; }

.submit-quiz-btn-container {
  padding: 5rem 0;
  text-align: center; }

.submit-quiz-btn {
  display: inline-block;
  border: 0.125rem solid #4F2784;
  border-radius: 0.375rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background-color: #4F2784;
  color: #FFFFFF;
  font-weight: 700;
  padding: 1rem;
  font-size: 16px; }
  .submit-quiz-btn:hover {
    background-color: #FFFFFF;
    color: #4F2784;
    border-color: #4F2784;
    transition: 0.3s; }
  .submit-quiz-btn:hover {
    cursor: pointer; }

.recommended-clubs-page-container {
  margin: 3rem auto 0 auto;
  width: 90%; }

.recommended-clubs-page-heading {
  margin-bottom: 3rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem; }
  @media (max-width: 599px) {
    .recommended-clubs-page-heading {
      font-size: 1rem; } }

.recommended-clubs {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5rem; }
  @media (min-width: 900px) {
    .recommended-clubs {
      width: 50rem; } }
  @media (min-width: 1200px) {
    .recommended-clubs {
      width: 50rem; } }

.recommended-club {
  padding: 3rem 3rem;
  border: 0.125rem solid black;
  border-radius: 1.5625rem;
  box-shadow: 11px 11px 26px -6px rgba(0, 0, 0, 0.56); }
  @media (max-width: 599px) {
    .recommended-club {
      padding: 3rem 1rem; } }

.club-name {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem; }
  @media (max-width: 599px) {
    .club-name {
      font-size: 1rem; } }

.club-description-header {
  margin-bottom: 1.5rem; }
  @media (max-width: 599px) {
    .club-description-header {
      text-align: center;
      font-size: 1rem; } }
  @media (min-width: 600px) {
    .club-description-header {
      font-size: 1rem; } }
  @media (min-width: 900px) {
    .club-description-header {
      font-size: 1rem; } }

.club-description {
  margin-bottom: 3rem; }
  @media (max-width: 599px) {
    .club-description {
      text-align: center; } }

.learn-more-container {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem; }
  @media (min-width: 900px) {
    .learn-more-container {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 0; } }

.learn-more-header {
  display: inline-block; }
  @media (max-width: 599px) {
    .learn-more-header {
      text-align: center;
      font-size: 1rem; } }
  @media (min-width: 600px) {
    .learn-more-header {
      font-size: 1rem; } }
  @media (min-width: 900px) {
    .learn-more-header {
      font-size: 1rem; } }

.learn-more-links {
  display: inline-flex;
  justify-content: space-around; }

.learn-more-link {
  height: 2.625rem;
  width: 2.625rem; }
  @media (max-width: 599px) {
    .learn-more-link {
      height: 2.125rem;
      width: 2.125rem; } }

.learn-more-icon {
  height: 100%; }

.purchase-membership-btn-container {
  text-align: center; }

.purchase-membership-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1rem; }
  .purchase-membership-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }
  @media (max-width: 599px) {
    .purchase-membership-btn {
      font-size: 16px; } }

.retake-quiz-btn-container {
  margin: 5rem 0;
  text-align: center; }

.retake-quiz-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-decoration: none; }
  .retake-quiz-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }

.account-info-header {
  margin: 3rem 0;
  text-align: center;
  font-size: 1rem; }
  @media (max-width: 599px) {
    .account-info-header {
      font-size: 1rem; } }

.account-info-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem; }
  @media (max-width: 599px) {
    .account-info-container {
      grid-template-columns: 1fr;
      grid-row-gap: 1.5rem; } }

.account-info-subheader {
  text-align: right;
  font-size: 1rem; }
  @media (max-width: 599px) {
    .account-info-subheader {
      text-align: center; } }

@media (max-width: 599px) {
  .account-info {
    text-align: center; } }

.account-btn-container {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: center; }

.account-info-btn-container {
  margin: 1rem; }

.account-info-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  .account-info-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }

.account-retake-quiz-btn-container {
  margin: 1rem; }

.account-retake-quiz-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  .account-retake-quiz-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }

.update-account-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center; }

.update-account-input-container {
  margin-top: 3rem; }

.update-account-legend {
  font-size: 1rem;
  font-weight: 700;
  text-align: center; }

.update-account-label {
  display: block;
  width: 8.75rem;
  text-align: left;
  font-weight: 700;
  margin-bottom: 1rem; }
  @media (min-width: 1200px) {
    .update-account-label {
      display: inline-block;
      margin: 0 0 0 1rem; } }

.update-account-input {
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 0.75rem;
  width: 25rem; }
  @media (max-width: 599px) {
    .update-account-input {
      width: 20rem; } }

.btn-container {
  display: flex;
  justify-content: center; }

.update-account-btn-container {
  margin: 5rem 0 5rem 1rem; }

.update-account-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  .update-account-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }

.cancel-update-btn-container {
  margin: 5rem 0 5rem 1rem; }

.cancel-update-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  .cancel-update-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }

.confirmation-msg {
  margin-top: 3rem;
  font-size: 1rem;
  text-align: center; }

.logout-msg {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center; }

.club-results-btn-container {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: center; }

.club-results-retake-quiz-btn-container {
  margin: 1rem; }

.club-results-retake-quiz-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  .club-results-retake-quiz-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }

.club-results-update-account-btn-container {
  margin: 1rem; }

.club-results-update-account-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0.1875rem solid #000000;
  border-radius: 3.125rem;
  background-color: #4F2784;
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  .club-results-update-account-btn:hover {
    background-color: #6733ab;
    color: #FAFAFA;
    cursor: pointer; }

.error-container {
  margin-top: 5rem; }

.error-heading {
  margin-bottom: 2rem; }

.error-description {
  margin-bottom: 1.5rem; }

.error-return-home-link {
  color: #4F2784; }
