<footer class="footer">
    <div class="container">
        <div class="footer-grid-container">
            <div class="footer-usc-info">
                <p>
                    <b>USC Main Office</b><br>
                    Room 340, UCC Building<br>
                    Western University<br>
                    London, ON. N6A 3K7<br>
                </p>
            </div>
            <div class="footer-social-icon-container">
                <a class="footer-social-icon" href="https://www.facebook.com/westernusc">
                    <img class="social-icon-img"
                         src="{{ url_for('static', filename='images/social-media/facebook.svg') }}" alt="USC Facebook">
                </a>
                <a class="footer-social-icon" href="https://www.twitter.com/WesternUSC">
                    <img class="social-icon-img"
                         src="{{ url_for('static', filename='images/social-media/twitter.svg') }}" alt="USC Twitter">
                </a>
                <a class="footer-social-icon" href="https://www.youtube.com/channel/UCjKeiAjymHZnt61ePEzpxVA">
                    <img class="social-icon-img"
                         src="{{ url_for('static', filename='images/social-media/youtube.svg') }}" alt="USC Youtube">
                </a>
                <a class="footer-social-icon" href="https://www.instagram.com/westernusc">
                    <img class="social-icon-img"
                         src="{{ url_for('static', filename='images/social-media/instagram.svg') }}"
                         alt="USC Instagram">
                </a>
                <a class="footer-social-icon"
                   href="https://www.linkedin.com/company/university-students%27%E2%80%8B-council-at-the-university-of-western-ontario">
                    <img class="social-icon-img"
                         src="{{ url_for('static', filename='images/social-media/linkedin.svg') }}" alt="USC LinkedIn">
                </a>
            </div>
        </div>
    </div>
</footer>
