{% extends 'components/layout.html' %}
{% block content %}
    <div class="container">
        <div class="banner-container">
            <div class="banner-content">
                <div class="index-main-content">
                    <div class="index-usc-logo-container">
                        <img class="usc-logo" src="{{ url_for('static', filename='images/usc_logo.png') }}"
                             alt="usc logo">
                    </div>
                    <div class="index-content-container">
                        <h3 class="index-header">We're doing things a little differently this year.</h3>
                        <div class="index-description">
                            <p>Due to the COVID-19 pandemic, we are postponing Clubs Week to help reduce the spread.
                                However,
                                this does not mean you can’t find your perfect club.</p>
                            <p><b>Take our quiz to find the right fit for you!</b></p>
                        </div>
                    </div>
                </div>
                <div class="index-start-quiz-btn-container">
                    <a class="index-start-quiz-btn" href="{{ url_for('main.quiz') }}">Start Quiz</a>
                </div>
            </div>
        </div>
        <div class="index-more-info-container">
            <div class="more-info-item">
                <h4>Why Join a Club?</h4>
                <p>Joining a club opens up many opportunities and allows for a balance between academic life and
                    extra-curricular activities.</p>
                <p>With close to 200 clubs to choose from, there is something for everyone!</p>
                <a class="see-all-clubs-link" href="https://westernu.campuslabs.ca/engage/organizations" target="_blank"
                   rel="noopener noreferrer">See
                    All Clubs</a>
            </div>
            <div class="more-info-item">
                <h4>What is Clubs Week?</h4>
                <p>Clubs Week usually takes place in September each year. It showcases all of the clubs and provides
                    students with a chance to learn more about the opportunities available with each club.</p>
            </div>
            <div class="more-info-item">
                <h4>How long is the quiz and how does it work?</h4>
                <p>The quiz is a total of 25 questions and will approximately take 5 minutes.</p>
                <p>We ask a representative from each club to take the exact same quiz. We find the three clubs with
                    the
                    highest similarity to your set of answers.</p>
            </div>
            <div class="more-info-item">
                <h4>Find Your New Club:</h4>
                <a class="index-start-quiz-btn" href="{{ url_for('main.quiz') }}">Start Quiz</a>
            </div>
        </div>
    </div>
{% endblock content %}
