{% extends 'components/layout.html' %}
{% block content %}
    <div class="container">
        <img src="{{ url_for('static', filename='images/usc_logo.png') }}" alt="">
        <h1>Welcome To USC's Club Matcher</h1>
        <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
        </h2>
        <h3>Find Your New Club:</h3>
        <button>
            <a href="#">Start Quiz</a>
        </button>
        <br>
        <small>Looking to add your club? <a href="{{ url_for('register') }}">Click Here</a></small>
    </div>
{% endblock content %}
