{% extends 'components/layout.html' %}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}
{% block content %}
    <div class="container">
        <form class="quiz-form" action="{{ url_for('main.results') }}" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="quiz-legend">Quiz</legend>
                <div class="individual-question-container">
                    <h2 class="question-number">Q1</h2>
                    {{ form.q1_field.label(class="question-header") }}
                    {% if form.q1_field.errors %}
                        {{ form.q1_field(class="alert-error") }}
                        <div>
                            {% for error in form.q1_field.errors %}
                                <span class="alert-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q1_field(class="question") }}
                    {% endif %}
                </div>
                <div class="individual-question-container">
                    <h2 class="question-number">Q2</h2>
                    {{ form.q2_field.label(class="question-header") }}
                    {% if form.q2_field.errors %}
                        {{ form.q2_field(class="alert-error") }}
                        <div>
                            {% for error in form.q2_field.errors %}
                                <span class="alert-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q2_field(class="question") }}
                    {% endif %}
                </div>
                <div class="individual-question-container">
                    <h2 class="question-number">Q3</h2>
                    {{ form.q3_field.label(class="question-header") }}
                    {% if form.q3_field.errors %}
                        {{ form.q3_field(class="alert-error") }}
                        <div>
                            {% for error in form.q3_field.errors %}
                                <span class="alert-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q3_field(class="question") }}
                    {% endif %}
                </div>
                <div class="individual-question-container">
                    <h2 class="question-number">Q4</h2>
                    {{ form.q4_field.label(class="question-header") }}
                    {% if form.q4_field.errors %}
                        {{ form.q4_field(class="alert-error") }}
                        <div>
                            {% for error in form.q4_field.errors %}
                                <span class="alert-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q4_field(class="question") }}
                    {% endif %}
                </div>
                <div class="individual-question-container">
                    <h2 class="question-number">Q5</h2>
                    {{ form.q5_field.label(class="question-header") }}
                    {% if form.q5_field.errors %}
                        {{ form.q5_field(class="alert-error") }}
                        <div>
                            {% for error in form.q5_field.errors %}
                                <span class="alert-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q5_field(class="question") }}
                    {% endif %}
                </div>
                <div class="individual-question-container">
                    <h2 class="question-number">Q6</h2>
                    {{ form.q6_field.label(class="question-header") }}
                    {% if form.q6_field.errors %}
                        {{ form.q6_field(class="alert-error") }}
                        <div>
                            {% for error in form.q6_field.errors %}
                                <span class="alert-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q6_field(class="question") }}
                    {% endif %}
                </div>
                <div class="individual-question-container">
                    <h2 class="question-number">Q7</h2>
                    {{ form.q7_field.label(class="question-header") }}
                    {% if form.q7_field.errors %}
                        {{ form.q7_field(class="alert-error") }}
                        <div>
                            {% for error in form.q7_field.errors %}
                                <span class="alert-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q7_field(class="question") }}
                    {% endif %}
                </div>
                <div class="individual-question-container">
                    <h2 class="question-number">Q8</h2>
                    {{ form.q8_field.label(class="question-header") }}
                    {% if form.q8_field.errors %}
                        {{ form.q8_field(class="alert-error") }}
                        <div>
                            {% for error in form.q8_field.errors %}
                                <span class="alert-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.q8_field(class="question") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="submit-quiz-btn-container">
                {{ form.submit(class="submit-quiz-btn") }}
            </div>
        </form>
    </div>
{% endblock content %}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}
