{% extends 'components/layout.html' %}
{% block header %}
    {% include 'components/header.html' %}
{% endblock header %}
{% block content %}
    <div class="container update-account-page">
        <div class="update-account-container">
            <a class="update-account-usc-logo-container" href="{{ url_for('main.index') }}">
                <img class="update-account-usc-logo" src="{{ url_for('static', filename='images/usc_logo.png') }}"
                     alt="USC logo">
            </a>
            <form action="" method="POST" class="update-account-form">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend class="update-account-legend">Club Information</legend>
                    <div class="update-account-input-container">
                        {{ form.facebook.label(class="update-account-label") }}
                        {% if form.facebook.errors %}
                            {{ form.facebook(id="facebook", class="alert-error", placeholder="https://www.facebook.com/") }}
                            <div>
                                {% for error in form.facebook.errors %}
                                    <span class="alert-error">{{ error }}</span><br>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.facebook(id="facebook", class="update-account-input", placeholder="https://www.facebook.com/") }}
                        {% endif %}
                    </div>
                    <div class="update-account-input-container">
                        {{ form.instagram.label(class="update-account-label") }}
                        {% if form.instagram.errors %}
                            {{ form.instagram(id="instagram", class="alert-error", placeholder="https://instagram.com/") }}
                            <div>
                                {% for error in form.instagram.errors %}
                                    <span class="alert-error">{{ error }}</span><br>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.instagram(id="instagram", class="update-account-input", placeholder="https://instagram.com/") }}
                        {% endif %}
                    </div>
                    <div class="update-account-input-container">
                        {{ form.twitter.label(class="update-account-label") }}
                        {% if form.twitter.errors %}
                            {{ form.twitter(id="twitter", class="alert-error", placeholder="https://twitter.com/") }}
                            <div>
                                {% for error in form.twitter.errors %}
                                    <span class="alert-error">{{ error }}</span><br>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.twitter(id="twitter", class="update-account-input", placeholder="https://twitter.com/") }}
                        {% endif %}
                    </div>
                    <div class="update-account-input-container">
                        {{ form.website.label(class="update-account-label") }}
                        {% if form.website.errors %}
                            {{ form.website(id="website", class="alert-error") }}
                            <div>
                                {% for error in form.website.errors %}
                                    <span class="alert-error">{{ error }}</span><br>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.website(id="website", class="update-account-input") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit(class="update-account-btn", onclick="onSubmit()") }}
                </div>
                <div>
                    <a class="cancel-update-btn" href="{{ url_for('main.index') }}">Cancel</a>
                </div>
                {% if quiz_completed %}
                    <div>
                        <a class="account-retake-quiz" href="{{ url_for('main.quiz') }}">Retake Quiz</a>
                    </div>
                {% endif %} 
            </form>
        </div>
    </div>
{% endblock content %}
