.nav {
  margin: auto;
  height: pxToRem(100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container {
  height: pxToRem(50px);
  border-radius: 50%;

  &:hover {
    height: pxToRem(52px);
  }

  @include for-tablet-landscape-up {
    height: pxToRem(60px);

    &:hover {
      height: pxToRem(63px);
    }
  }
}

.nav-logo {
  height: 100%;
}

.nav-link {
  @include btn-secondary;
  margin-left: 1rem;
}
