.account-info-header {
  margin: 3rem 0;
  text-align: center;
  font-size: $h4;

  @include for-phone-only {
    font-size: $h5;
  }
}

.account-info-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @include for-phone-only {
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
  }
}

.account-info-subheader {
  text-align: right;
  font-size: $h6;

  @include for-phone-only {
    text-align: center;
  }
}

.account-info {
  @include for-phone-only {
    text-align: center;
  }
}

.account-btn-container {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.account-info-btn-container {
  margin: 1rem;
}

.account-info-btn {
  @include btn;
  text-decoration: none;
}

.account-retake-quiz-btn-container {
  margin: 1rem;
}

.account-retake-quiz-btn {
  @include btn;
  text-decoration: none;
}


