.usc-logo-container {
  margin: 1rem auto 0 auto;

  @include for-phone-only {
    width: 7rem;
  }

  @include for-tablet-portrait-up {
    width: 10rem;
  }

  @include for-desktop-up {
    width: 15rem;
  }

  @include for-lg-desktop-up {
    width: 20rem;
  }
}

.usc-logo {
  width: 100%;
}

.index-content-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.index-main-header {
  margin-top: 4vh;
  font-size: $h3;
  font-weight: 700;

  @include for-phone-only {
    font-size: $h4;
  }

  @include for-tablet-landscape-up {
    font-size: $h3;
  }

  @include for-desktop-up {
    font-size: $h2;
  }

  @include for-lg-desktop-up {
    font-size: $h1;
  }
}

.index-sub-header {
  margin: 4vh auto 0 auto;
  font-size: $h4;
  font-weight: 400;

  @include for-phone-only {
    font-size: $h5;
  }

  @include for-tablet-portrait-up {
    font-size: $h5;
  }

  @include for-desktop-up {
    font-size: $h4;
  }

  @include for-lg-desktop-up {
    font-size: $h3;
  }
}

.index-btn-header {
  margin-top: 4vh;
  font-size: $h5;
  font-weight: 700;

  @include for-tablet-landscape-up {
    font-size: $h4;
  }

  @include for-desktop-up {
    font-size: $h3;
  }
}

.find-club-btn-link {
  @include btn;
  margin-top: 4vh;
  font-size: $h5;
  text-decoration: none;
}
