.club-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-login-container {
  margin-top: 3rem;
  text-align: center;

  @include for-tablet-portrait-up {
    padding: 3rem;
    border: pxToRem(1px) solid $light-grey;
    border-radius: $border-radius;
  }
}

.login-usc-logo-container {
  margin: 0 auto 1rem auto;
  display: block;
  height: pxToRem(75px);
  width: pxToRem(75px);
  border-radius: 50%;
}

.login-usc-logo {
  height: 100%;

  &:hover {
    height: 95%;
  }
}

.club-login-legend {
  margin: 0 auto 0.5rem auto;
  @include form-legend;
}

.club-login-input-container {
  margin-bottom: 1rem;
}

.club-login-input {
  @include text-input;

  @include for-phone-only {
    width: 100%;
  }

  @include for-tablet-portrait-up {
    width: 25rem;
  }
}

.club-login-btn {
  @include submit-input-primary;
  margin-bottom: 1rem;
}
