.club-login-form-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.club-login-form-legend {
  margin: 3vh 0;
  font-size: $h2;
}

.club-login-form-input-container {
  margin: 2rem 0;
}

.club-login-form-label {
  margin-bottom: 1rem;
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: $h5;

  @include for-tablet-portrait-up {
    margin-bottom: 0;
    display: inline-block;
    width: pxToRem(140px);
    text-align: left;
    font-size: $h5;
  }
}

.club-login-form-input {
  @include text-input;
  width: 100%;
  font-size: $h6;

  @include for-tablet-portrait-up {
    width: 25rem;
    font-size: $h6;
  }
}

.club-login-btn {
  @include btn;
  font-size: $h6;
}

