.quiz-form {
  font-family: "Roboto", sans-serif;
}

.quiz-legend {
  display: none;
}

.individual-question-container {
  border-bottom: pxToRem(1px) solid $light-grey;
  @include for-phone-only {
    padding: 3rem 0;
  }

  @include for-tablet-portrait-up {
    padding: 4rem 0;
  }
}

.question-number {
  text-align: center;
}

.question-header {
  display: block;
  padding-bottom: 1.25rem;
  font-weight: 700;
  line-height: $line-height;
  text-align: center;

  @include for-phone-only {
    font-size: $h4-small;
  }

  @include for-tablet-portrait-up {
    font-size: $h4-small;
  }

  @include for-tablet-landscape-up {
    font-size: $h4-large;
  }
}

.question {
  margin: auto;
  display: grid;
  justify-content: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @include for-phone-only {
    grid-template-columns: 1fr;
  }

  @include for-tablet-portrait-up {
    grid-template-columns: 1fr 1fr;
  }

  & > li {
    height: 12rem;
    display: flex;

    & > input {
      margin: 0;
      display: none;
    }

    & > label {
      width: 100%;
      background-color: $white;
      border: 1px solid $black;
      border-radius: pxToRem(10px);
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
      text-align: center;
      cursor: pointer;

      &:hover {
        border: 2px solid $western-purple;
        color: $western-purple;
      }
    }

    & > input:checked + label {
      background-color: $western-purple;
      border-color: $western-purple;
      color: $white;
      font-weight: 700;
      transition: 0.1s;
    }
  }
}

.submit-quiz-btn-container {
  padding: 5rem 0;
  text-align: center;
}

.submit-quiz-btn {
  @include btn-primary-lg;
  font-size: $base;

  &:hover {
    cursor: pointer;
  }
}
