.update-account-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.update-account-input-container {
  margin-top: 3rem;
}

.update-account-legend {
  font-size: $h4;
  font-weight: 700;
  text-align: center;
}

.update-account-label {
  display: block;
  width: pxToRem(140px);
  text-align: left;
  font-weight: 700;
  margin-bottom: 1rem;

  @include for-desktop-up {
    display: inline-block;
    margin: 0 0 0 1rem;
  }
}

.update-account-input {
  @include text-input;
  width: 25rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.update-account-btn-container {
  margin: 5rem 0 5rem 1rem;
}

.update-account-btn {
  @include btn;
  font-size: $base;
}

.cancel-update-btn-container {
  margin: 5rem 0 5rem 1rem;
}

.cancel-update-btn {
  @include btn;
  text-decoration: none;
}
