.recommended-clubs-page-heading {
  padding: 3rem 0;
  text-align: center;
  text-transform: capitalize;
}

.recommended-clubs {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5rem;

  @include for-tablet-landscape-up {
    width: pxToRem(800px);
  }
}

.recommended-club {
  padding: 3rem;
  border: pxToRem(1px) solid $light-grey;
  border-radius: $border-radius;
  box-shadow: 11px 11px 26px -6px rgba(0, 0, 0, 0.56);

  @include for-phone-only {
    padding: 3rem 1.5rem;
  }
}

.club-name {
  text-align: center;
}

.learn-more-links {
  display: flex;
  justify-content: flex-start;
}

.learn-more-link {
  margin-right: 1.5rem;
  height: pxToRem(40px);
  width: pxToRem(40px);
  border-radius: 50%;

  @include for-phone-only {
    margin: auto;
  }
}

.learn-more-icon {
  height: 100%;

  &:hover {
    height: 95%;
  }
}

.purchase-membership-btn-container {
  padding-top: 3rem;
  text-align: center;
}

.purchase-membership-btn {
  @include btn-primary-lg;
}

.retake-quiz-btn-container {
  padding: 5rem 0;
  text-align: center;
}

.retake-quiz-btn {
  @include btn-secondary-lg;
}
